<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<from th:method="PATCH" th:action="@{/updateUser}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>

    <label for="name"> NAME: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br>

    <label for="lastName"> LAST NAME: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>

    <label for="email"> EMAIL: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>

    <input type="submit" value="Save"/>
</from>
<form th:method="DELETE" th:action="@{/delete/{id}(id = ${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>