<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewUser</title>
</head>
<body>
<from th:method="POST" th:action="@{/new}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>

    <label for="name"> NAME: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br>

    <label for="lastName"> LAST NAME: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>

    <label for="email"> EMAIL: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>

    <input type="submit" value="Save"/>
</from>
</body>
</html>